#root{
    width: 100%;
    line-height: 10px;
    
}

.Headline{
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-wrap: wrap;
}





.Headline > h1{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.5vw;
    text-align: center;
    display: flex;
    align-items: center;
    font-weight: normal;
    
}


.Headline > h1:hover{
    text-decoration: underline;
    text-underline-offset: 1rem;
    cursor: pointer;
}

.Headline > div{
    width: 100%;
    display: flex;

}
.content{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
   
    
    
}

.profile {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    border: 2px solid;
}

.info{
    text-align: center;
    display: flex;
    flex-direction: column;
    /* padding-left: 100px;
    padding-right: 200px; */
}
.info > p:nth-child(1){
    font-size: 2vw;
    color: grey;
    
}
.info > p:nth-child(2){
    font-weight: bold;
    font-size: 3vw;
}

.info > p:nth-child(3){
    
    font-size: 2vw;
    color: grey;
}
li :hover{
    cursor: pointer;
}